*{
    list-style: none;
    scroll-behavior: smooth;

}
img{
    width: 100%;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    font-size: 70px;
}

header{
    background: url(../images/sunset-beach.jpg);
    width: 100%;
    min-height: 100vh;
     font-weight: 700;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    background-position: center;
    background-color: rgba(27, 27, 27, 0.772);
    background-blend-mode: multiply;

}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 60px;
    padding: 30px 0px;
}
.logo a{
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    margin: 0;
    font-size: 25px;
}
.logo a span{
    font-weight: 100;

}
nav ul{
    align-items: center;
}
nav ul li{
    list-style: none;
    padding: 0px 0px 0px 61px;
    text-transform: capitalize;
    display: inline;
}  
nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 25px;
}
nav ul li a:hover{
    background-color: red;
    padding: 14px 10px;
    border-radius: 6px;
    transform: 0.3s;
    cursor: pointer;

}


/* banner */

.banner{
    text-align: center;
    color: white;
    padding: 100px 0px;
}
.banner h3 {
    margin: 20px 0px;
    font-size: 35px;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 10px;
}
.banner span{
    height: 5px;
    width: 200px;
    border-radius: 5px;
    background-color: red;
    display: inline-block;

}
.banner h1 {
    font-weight: 600;
}

.banner button {
    background-color: red;
    border-radius: 30px;
    padding: 17px 34px;
    font-size: 17px;
    color: white;
    font-weight: 600;
    text-transform: capitalize;
    letter-spacing: 2px;
}
.banner button:hover{
    background-color: transparent;
    cursor: pointer;
    transition: 0.4s;
}

/*   upcoming events  */

.event h1{
    font-size: 60px;
    text-transform: uppercase;
    margin-bottom: 10px;
    text-align: center;
}
.event{
    text-align: center;
}
.event span{
    height: 5px;
    width: 240px;
    border-radius: 5px;
    background-color: red;
    display: inline-block;
}
.main{
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 30px;
    padding: 60px 50px;
}
.event-pic img{
    width: 100%;
    height: 320px;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    border-radius: 10px;
    gap: 0px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    object-fit: cover;
}
.event-pic h3{
    font-size: 30px;
    font-weight: 600;
    margin: 19px 0px 24px 0px;
    text-transform: uppercase;
}
.event-pic h4{
    margin: 20px 0px;
    font-size: 24px;
    font-weight: 500;
    line-height: 35px;
}
.event-pic a{
    text-decoration: none;
    color: red;
    font-size: 23px;
    padding: 20px 0px 20px 0px;
    /* margin: 20px 0px 20px 0px; */
}
.event-pic{
    display: flex;
    gap: 0px;
    border-radius: 20px;
    align-items: center;
    display: block;
}

/* explore */


.explore-world {
    background-image: url(../images/father-daughter.jpg);
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-attachment: fixed;
    background-color: rgba(0, 0, 255, 0.452);
    background-size: cover;
    padding: 100px 0;
    display: flex;
    color: white;
    margin-top: 50px;
    justify-content: right;
    min-height: 63vh;
}

.explore-item {
    width: 50%;
    padding-right: 50px;
    text-align: left !important;
}

.explore-item h3 {
    font-size: 60px;
    margin-bottom: 0;
}

.explore-item span {
    height: 5px;
    width: 190px;
    display: block;
    background-color: red;
    border-radius: 7px;
}

.explore-item p {
    margin: 30px 0;
    font-size: 24px;
}

.explore-item a {
    color: white;
    text-decoration: none;
    letter-spacing: 2px;
    text-transform: capitalize;
    font-size: 24px;
}


/* tour section */

.tour-main {
    margin: 80px 35px;
    display: flex;
}

.tour-item {
    padding: 14px 12px;
}

.tour-item  h3 {
    font-size: 60px;
    margin-bottom: 0;
    text-transform: uppercase;
}

.tour-item span {
    height: 5px;
    width: 300px;
    display: block;
    background-color: red;
    border-radius: 7px;
}

.tour-item p {
    margin: 40px 0;
    font-size: 24px;

}

.tour-item a{
    text-decoration: none;
    color: red;
    font-size: 23px;
    padding: 20px 0px 20px 0px;
    text-transform: capitalize;
    letter-spacing: 2px;
}


.img1 {
    height: 350px;
    object-fit: cover;
    margin: 0 0 20px 0;
    border-radius: 5px;
}

.img2 {
    height: 450px;
    object-fit: cover;
    margin: 0 0 20px 0;
    border-radius: 5px;
}

/* footer */
footer{
    background-color: rgba(0, 0, 0, 0.877);
    padding: 40px 4rem;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    gap: 27px;
    flex-wrap: wrap;
    color: white;
}
.foot ul li{
    list-style: none;
    text-decoration: none;
    font-size: 24px;
    color: white;
    line-height: 32px;
}
.about ul li a{
    height: 9px;
    width: 9px;
    text-decoration: none;
}
.about h3{
    font-size: 30px;
    text-transform: capitalize;
}
.about span {
    height: 5px;
    width: 308px;
    display: block;
    background-color: red;
    border-radius: 7px;
    margin: 0;
}
.media {
    font-size: 30px;
    margin-bottom: 10px;
}
.about ul li h4{
    margin: 10px 0px;
}
.about p{
    font-size: 24px;
}
.fab{margin: 17px;
    font-size: 40px;
    color: white;

}